.container.ombre {
  background: rgba(255,255,255,0.5);
  margin-top: -50px;
  position: relative;
}

#home {
  background: #C0F2EC;

  #main-header {
    background-image: url('../../public/img/0_Main-menu_by-David-Revoy.jpg');
  }

  main img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
    border-radius: 50%;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.4);
  }

  #main-header h1 {
    text-align: center;
    font-size: 63px;
    padding-top: 440px;
    margin: 0;
    color: #558180;
    background: url('../../public/img/0_Main-menu_by-David-Revoy.jpg');
    background-position: -1100px -520px;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  @supports not (-webkit-background-clip: text) {
    #main-header h1 {
      background: none;
    }
  }

  .journal {
    border: 16px solid transparent;
    border-image: url('../../public/img/journal/frise_by-David-Revoy.jpg') 10% round;
    margin: 15px 0;
    background: var(--f-o2);

    img {
      margin: 0;
      border-radius: 0;
      box-shadow: none;
    }

    a {
      display: block;
      color: var(--f-m7);
      text-decoration: none;
      margin: 20px auto;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

#app .btn.btn-default,
#app .btn.btn-soutenir {
  text-transform: uppercase;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  padding: 6px 16px;
  font-size: 13px;
  line-height: 1.846;
  border-radius: 3px;
}

#services {
  background: #B49CD8;

  #main-header {
    background-image: url('../../public/img/1_Services_by-David-Revoy.jpg');
  }
}

#essaimage {
  background: #93d4db;

  #main-header {
    background-image: url('../../public/img/2_Essaimage_by-David-Revoy.jpg');
  }
}

#educ-pop {
  background: #DCDD43;

  #main-header {
    background-image: url('../../public/img/3_Educ-Pop_by-David-Revoy.jpg');
  }
}

#main-header {
  min-height: 700px;
  background-size: cover;
  background-position: center bottom;
}

#services, #essaimage, #educ-pop {
  #main-header h1 {
    display: none;
  }

  > .container {
    margin-top:-160px;
  }

  main img {
    max-width: 100%;
    height: auto;
    margin-top: 25px;
    box-shadow: 0px 2px 6px rgba(50, 50, 50, 0.4);
    background: #fff;
    padding: 0px;
  }

  @media (max-width:768px) {
    main img {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  }
}

main {
  h1, h2, h3 {
    color: var(--f-g7);
    font-family: 'IM Fell English', Helvetica, Arial, sans-serif;
  }

  h2::after {
    content: none !important;
  }
}

@media (max-width: 768px) {
  #main-header {
    min-height: 400px;
  }

  #home #main-header h1 {
    padding-top: 240px;
    font-size: 48px;
    background-position: -1400px -750px;
  }

  #services > .container,
  #essaimage > .container,
  #educ-pop > .container {
    margin-top: -100px;
  }
}

@media (min-width: 992px) {
  #main-header {
    min-height: 700px;
  }

  #home #main-header h1 {
    padding-top: 440px;
  }

  #services > .container,
  #essaimage > .container,
  #educ-pop > .container {
    margin-top: -160px;
  }
}

@media (min-width: 1248px) {
  #main-header {
    min-height: 900px;
  }

  #home #main-header h1 {
    padding-top: 580px;
    background-position: -800px -370px;
  }

  #services > .container,
  #essaimage > .container,
  #educ-pop > .container {
    margin-top: -260px;
  }
}
@media (min-width: 1500px) {
  #main-header {
    min-height: 1080px;
  }

  #home #main-header h1 {
    padding-top: 700px;
    background-position: -550px -260px;
  }

  #services > .container,
  #essaimage > .container,
  #educ-pop > .container {
    margin-top: -360px;
  }
}

/* Extend sfs.scss */
#f-sfs {
  #support {
    background: transparent url('../../public/img/dots.png') no-repeat 10% 90%;

    .col-lg-7 .ombre {
      margin-top: 3rem;
    }
  }
}